@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

.hero-image {
    background:url("../assets/bg-pattern.png") center no-repeat;
    
}

.about-me {
    background: url("../assets/bg-about.png") top center no-repeat;

}